In [1]:
import pandas as pd
import numpy as np

In [2]:
X_train_in = pd.read_csv("X_train.csv", index_col=0)
y_train_in = pd.read_csv("y_train.csv",index_col=0)
X_val = pd.read_csv("X_test.csv", index_col=0)
#X_test, y_train, y_test

In [3]:
att_types = list(set(list(X_train_in["АТТЕСТАЦИЯ"].values) + list(X_val["АТТЕСТАЦИЯ"].values)))
disc_types = list(set(list(X_train_in["ДИСЦИПЛИНА"].values) + list(X_val["ДИСЦИПЛИНА"].values)))
napr_types = list(set(list(X_train_in["НАПРАВЛЕНИЕ"].values) + list(X_val["НАПРАВЛЕНИЕ"].values)))

In [4]:
info = pd.read_csv("studs_info.csv")

AttributeError: 'DataFrame' object has no attribute 'unique'

In [5]:
info

,STD_ID,number,Пол,Статус,Дата выпуска,Категория обучения,Форма обучения,Шифр,направление (специальность),,Образование,Дата выдачи,Что именно закончил
0,99136,13951.0,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,2629.0,СР,2013-06-26 00:00:00,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА
1,99112,13998.0,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,8240.0,СР,2012-06-23 00:00:00,"МОУ СОШ N 2, ПЕСТОВО"
2,99109,13999.0,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,2314.0,СР,2013-06-25 00:00:00,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА
3,99125,13953.0,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,2345.0,СР,2013-06-23 00:00:00,"Гимназия ""ГАРМОНИЯ"""
4,100676,13950.0,М,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,2650.0,СР,2012-06-29 00:00:00,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5461,100678,978.0,Ж,СТ,NaN,БП,Д,31.05.01,Лечебное дело,2388.0,СР,2013-06-21 00:00:00,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА
5462,100663,1021.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,2554.0,СР,2013-06-27 00:00:00,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА
5463,191630,6447.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,6692.0,СР,2014-05-31 00:00:00,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА
5464,191625,3765.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaN,NaN
5465,194978,5245.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaN,NaN

In [6]:
X_train_in["Категория обучения"] = X_train_in.STD_ID
X_val["Категория обучения"] = X_val.STD_ID
X_train_in["Пол"] = X_train_in.STD_ID
X_val["Пол"] = X_val.STD_ID

In [7]:
X_train_in["Категория обучения"] = X_train_in["Категория обучения"].agg([lambda x: info[info.STD_ID==x]["Категория обучения"].values[0]])

In [8]:
X_val["Категория обучения"] = X_val["Категория обучения"].agg([lambda x: info[info.STD_ID==x]["Категория обучения"].values[0]])

In [9]:
X_train_in["Пол"] = X_train_in["Пол"].agg([lambda x: info[info.STD_ID==x]["Пол"].values[0]])

In [10]:
X_val["Пол"] = X_val["Пол"].agg([lambda x: info[info.STD_ID==x]["Пол"].values[0]])

In [11]:
X_all = X_train_in.append(X_val, ignore_index=True)

In [12]:
X_train_in["mark"]=y_train_in["mark"]

In [13]:
def add_feat_mean(cat):
    mean_mark = X_train_in.groupby(cat).mean()["mark"]
    X_train_in.loc[:,f"{cat}_mean"] = X_train_in.loc[:,cat].map(mean_mark)
    X_val.loc[:,f"{cat}_mean"] = X_val.loc[:,cat].map(mean_mark)
    
add_feat_mean("STD_ID")
add_feat_mean("ДИСЦИПЛИНА")
add_feat_mean("АТТЕСТАЦИЯ")
add_feat_mean("НАПРАВЛЕНИЕ")
add_feat_mean("ГОД")
add_feat_mean("КУРС")
add_feat_mean("СЕМЕСТР")
add_feat_mean("Категория обучения")
add_feat_mean("Пол")

In [14]:
for i in range(len(att_types)):
    X_train_in["АТТЕСТАЦИЯ"] = X_train_in["АТТЕСТАЦИЯ"].replace(att_types[i], i)
    X_val["АТТЕСТАЦИЯ"] = X_val["АТТЕСТАЦИЯ"].replace(att_types[i], i)
    
for i in range(len(disc_types)):
    X_train_in["ДИСЦИПЛИНА"] = X_train_in["ДИСЦИПЛИНА"].replace(disc_types[i], i)
    X_val["ДИСЦИПЛИНА"] = X_val["ДИСЦИПЛИНА"].replace(disc_types[i], i)

for i in range(len(napr_types)):
    X_train_in["НАПРАВЛЕНИЕ"] = X_train_in["НАПРАВЛЕНИЕ"].replace(napr_types[i], i)
    X_val["НАПРАВЛЕНИЕ"] = X_val["НАПРАВЛЕНИЕ"].replace(napr_types[i], i)
X_train_in

,STD_ID,НАПРАВЛЕНИЕ,ГОД,КУРС,СЕМЕСТР,АТТЕСТАЦИЯ,ДИСЦИПЛИНА,Категория обучения,Пол,mark,STD_ID_mean,ДИСЦИПЛИНА_mean,АТТЕСТАЦИЯ_mean,НАПРАВЛЕНИЕ_mean,ГОД_mean,КУРС_mean,СЕМЕСТР_mean,Категория обучения_mean,Пол_mean
51081,175711,1,2018-2019,2.0,4.0,1,1318,БП,М,5,4.181818,4.326389,4.126456,4.157895,4.212443,4.139623,4.201411,4.391730,3.961335
72921,100647,35,2015-2016,3.0,5.0,1,705,ДОГ,Ж,5,4.116279,4.266444,4.126456,4.205835,4.104441,4.222239,4.194773,3.937139,4.326895
96438,199311,16,2019-2020,1.0,1.0,1,852,БП,Ж,5,4.750000,3.569940,4.126456,4.119935,4.236803,4.113697,4.093741,4.391730,4.326895
273044,162002,1,2017-2018,2.0,3.0,1,1063,БП,М,4,4.172414,3.721519,4.126456,4.157895,4.170785,4.139623,4.096971,4.391730,3.961335
371309,108384,35,2018-2019,5.0,9.0,1,1230,ДОГ,Ж,3,3.542857,4.333919,4.126456,4.205835,4.212443,4.421577,4.393392,3.937139,4.326895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224856,176141,2,2017-2018,1.0,2.0,4,7,ДОГ,Ж,3,3.615385,3.833866,4.131474,3.951955,4.170785,4.113697,4.133646,3.937139,4.326895
260998,182794,35,2018-2019,2.0,4.0,1,666,ДОГ,Ж,3,4.052632,3.693413,4.126456,4.205835,4.212443,4.139623,4.201411,3.937139,4.326895
57245,162391,35,2016-2017,1.0,2.0,2,799,БП,Ж,4,4.458333,4.153555,4.293297,4.205835,4.138081,4.113697,4.133646,4.391730,4.326895
218529,202479,3,2017-2018,1.0,1.0,2,765,ДОГ,Ж,4,4.187500,3.984946,4.293297,4.114599,4.170785,4.113697,4.093741,3.937139,4.326895
233318,182325,17,2018-2019,2.0,3.0,4,210,ДОГ,М,4,3.724138,3.568627,4.131474,3.914075,4.212443,4.139623,4.096971,3.937139,3.961335

In [15]:
X_train_in.to_csv("X_train_app.csv")
X_val.to_csv("X_val_app.csv")